.diagnostic {
    justify-content: center;
    align-items: center;
}

.white {
    font-size: 3vw;
    font-weight: bold;
    text-align: left;
    color: #FDB10C;
    margin: 0;
    display: grid;
    padding-left: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.photo {
    padding-top: 500px;
    height: 50vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 1%;
}

.photo img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 93%;
}

.photo::before {
    left: 3.5%;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 20vh;
    background-color: orange;
    z-index: 1;
    padding-left: 3%;
    opacity: 0.7;
}

.cursive {
    margin-left: 3.5%;
    width: 93%;
    font-style: italic;
    position: relative;
    font-size: 4vh;
    color: white;
    border-left: 1vh solid orange;
    padding-left: 1%;

}

.black-text {
    font-size: 4vh;
    color: #FDB10C;
    margin-left: 3.5%;
    padding-top: 2%;
    font-style: italic;
    font-weight: lighter;
}

.li {
    font-size: 3vh;
    padding-top: 2%;
    margin-left: 5%;
    padding-bottom: 2%;
    color: white;
}

@media (max-width: 768px) {
  .white {
    font-size: 6vw;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .photo {
    padding-top: 30vw;
    height: auto;
    margin-bottom: -30%;
  }

  .photo img {
    width: 100%;
    height: auto;
  }

  .photo::before {
    width: 10vw;
    height: 65.4%;
    left: 0;
  }

  .cursive {
    width: 90%;
    margin: 0 auto;
    font-size: 4.5vw;
    padding-left: 4%;
    border-left: 2vw solid orange;
  }

  .black-text {
    font-size: 4.5vw;
    margin-left: 5%;
    padding-right: 5%;
  }

  .li {
    font-size: 4vw;
    margin-left: 8%;
    padding-right: 5%;
  }
}
