.photo {
    height: 50vh; /* Установите нужную высоту контейнера */
    overflow: hidden;
    position: relative;
}

.photo img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 93%;
}

.cursive {
    margin-top: 1%;
    margin-left: 3.5%;
    width: 95%;
    font-style: italic;
    position: relative;
    font-size: 4vh;
    color: white;

}

.black-text {
    color: white;
}

.li {
    color: white;
}
