.next-block {
    position: relative;
    width: 100%;
    height: 158vh;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    overflow: hidden; /* Чтобы тень не выходила за границы элемента */
}

.next-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/photo/lines1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(50%); /* Затемнение на 50% */
    z-index: -1;
}


.mainText {
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
    margin-top: 10vh ;
}

.subText {
    font-style: italic;
    font-size: 3vh;
    text-align: center;
    margin-top: 10vh ;
}