.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 3rem;
    background-color: white;
    width: 623px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.form-input, .form-select, .form-button {
    width: 100%;
    height: 6vh;
    padding: 10px;
    margin: 1vh 0;
    border: 2px solid #ccc;
    border-radius: 2vh;
    font-size: 20px;
    
}

.form-input:hover, .form-select:hover {
    border-color: #FDB10C;
}

.form-button {
    background-color: #FDB10C;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #FDB10C;
}

.centered-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.5vh;
}

@media (max-width: 768px) {
    .modal__content {
        width: 90%;
        height: auto;
        padding: 15px;
        border-radius: 1.5rem;
    }

    .form-container {
        gap: 2vh;
    }

    .form-input,
    .form-select,
    .form-button {
        height: 5.5vh;
        font-size: 4vw;
        border-radius: 1.5vh;
    }

    .centered-title {
        font-size: 5vw;
        margin-top: 1vh;
    }
}
