.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 2vh;
    border-radius: 3vh;
    background-color: white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input:hover, form textarea:hover {
    border-color: #ff9800;
}

form button {
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e68900;
}

.captcha-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.captcha-container input {
    accent-color: orange;
}

form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}

form select:hover {
    border-color: #ff9800;
    cursor: pointer;
}

.centered-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}
