.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.content {
    flex: 1;
    padding: 1rem;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
