.content-container {
    width: 100%;
    height: 50vh; /* Задает высоту блока равной высоте окна */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирует содержимое по вертикали */
    text-align: left;
    border-radius: 10px;
}


.main-title {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20vh;
}

.subtitle {
    font-size: 36px;
    margin-bottom: 30px;
    color: #D6D2D2;
    text-align: left;
}

.text {
    font-size: 32px;
    line-height: 1.5;
    color: #D6D2D2;
    text-align: left;
    padding-left: 20vh;
    margin-top: 0;
    margin-bottom: 0;
}
.highlight {
    color: #FDB10C; /* тэг для автомобильных */
}



.button {
    background-color: #FDB10C;
    border: none; /* Убираем рамку */
    color: white; /* Белый цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Отображение в ряд */
    font-size: 20px; /* Размер шрифта */
    font-weight: bolder; /* Жирный шрифт */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
    cursor: pointer;
    width: 20vh;
    height: 6vh;
    margin-top: 5vh;
    margin-left: 20vh;

}

.buttons-row {
    display: flex;
    gap: 1px; /* Расстояние между кнопками */
}



.button:hover {
    background-color: #b08118; /* Темно-синий при наведении */
}

.button:active {
    background-color: rgba(0, 0, 0, 0.47); /* Еще темнее при нажатии */
}

.button:disabled {
    background-color: #cccccc; /* Серый фон для неактивной кнопки */
    color: #666666; /* Темно-серый текст */
    cursor: not-allowed; /* Курсор "запрещено" */
}
