@font-face {
    font-family: "NimbusSanL-Reg";
    src: url("/public/ttf/NimbusSanL-Reg.otf");
}
header {
    position: relative;
    background-color: #FDB10C;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    opacity: 0.8;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: start;
}

.header-left {
    flex-direction: column;
    margin: 0 1%;
}

.header-left p {
    color: #4A3E3E;
}

.header-center nav {
    display: flex;
}

.header-center nav a {
    color: #4A3E3E;
    text-decoration: none;
    padding: 0 100px;
}

.header-center nav a:hover {
    text-decoration: underline;
}

.header-right img {
    margin: 0 30%;
    height: 80px;
}

