@font-face {
  font-family: "Deledda Open Light";
  src: url("/public/Bowler.ttf");
}

body {
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Bowler", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  margin: 0;
  padding: 0;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* --- LOGOTIP ---  */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  transform: scale(65%);
}

/* --- HEADER ---  */
header {
  display: flex;
  height: 100px;
  place-items: center;
  text-align: center;
  position: relative; /* Или fixed, если нужно закрепить заголовок при прокрутке */
  z-index: 1; /* Значение должно быть больше, чем у видео */
  width: 100%;
  /* Дополнительные стили для фона и контента */
  background-color: rgba(255, 255, 255, 0.8);
}

.menu {
  height: 100px;
  width: 100%;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0,3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: coral;
  filter: drop-shadow(0px 0px 50px);
}

.btn {
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: #FDB10C;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 20px #ff74249f);
}

