@font-face {
  font-family: "Deledda";
  src: url("/public/Deledda Open Light.ttf");
}

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Bowler", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- LOGOTIP ---  */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%; 
}

/* --- HEADER ---  */
header {
  display: flex;
  height: 100px;
  place-items: center;
}

.menu {
  height: 100px;
  width: 100%;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0,3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: coral;
  filter: drop-shadow(0px 0px 50px);
}

.btn {
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: #FDB10C;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 20px #ff74249f);
}
