@font-face {
  font-family: "NimbusSanL-Reg";
  src: url("/public/ttf/NimbusSanL-Reg.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18pt;
  margin: 0;
  font-family: "NimbusSanL-Reg", sans-serif; /* Меняй шрифт здесь */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

