.logo {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FDB10C;
    opacity: 0.8;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 8vh;
}
