.logo {
    position: relative;
    text-align: center;
    left: 0;
    width: 100%;
    background-color: #FDB10C;
    opacity: 1;
}

.logo img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 6vh !important;
}
