.video {
    position: fixed; /* Фиксированное позиционирование относительно окна */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Чтобы другие элементы располагались поверх видео */
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы видео заполняло контейнер без искажений */
}

.video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}