.document-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
}

.card {
    width: 30vh;
    height: 30vh;
    border: 0.1vh solid #ddd;
    border-radius: 1vh ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.card a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .document-container {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        gap: 4vh;
    }

    .card {
        width: 80vw;
        height: 20vh;
        font-size: 4vw;
        padding: 4vh;
    }
}