.section{
    padding: 60px;
}

.regions-container{
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 1vw;
}

.cards-regions {
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-region{
    border-radius: 50px;
    background: #FDB10C;
}

.card-image{
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;

}

.card-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .section {
        padding: 30px 10px;
    }

    .card-title {
        font-size: 22px;
    }

    .card-image {
        max-width: 200px;
    }

    .cards-regions {
        display: flex;
        flex-direction: column;
        align-items: center; /* Центровка карточек */
        gap: 20px;
    }

    .card-region {
        padding: 15px;
        border-radius: 30px;
        max-width: 300px;
        width: 100%;
    }
}
