.footer {
    background-color: #FDB10C;
    padding: 10px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vh;
}

.footer-nav a {
    display: flex;
    text-align: center;
    font-size: 2.5vh;
    color: black;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.footer-nav a:hover {
    color: #000000;
    transform: scale(1.05);
}

.footer-contact {
    text-align: right;
    color: white;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contact-list li a {
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.contact-list li a:hover {
    text-decoration: underline;
}
