@font-face {
    font-family: "NimbusSanL-Reg";
    src: url("/public/ttf/NimbusSanL-Reg.otf");
}
footer {
    background-color: #FDB10C;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    align-items: start;
}

.footer-left {
    flex-direction: column;
    margin: 0 1%;
}

.footer-left p {
    color: #4A3E3E;
}

.footer-center nav {
    display: flex;
    gap: 45px; /* Расстояние между ссылками */
}

.footer-center nav a {
    color: #4A3E3E;
    text-decoration: none;
    padding: 0;
    text-align: center;
}

.footer-center nav a:hover {
    text-decoration: underline;
}

.footer-right img {
    margin: 0 30%;
    height: 80px;
}

