footer {
    position: relative;
    background-color: #FDB10C;
    height: auto;
    padding: 10px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
}

.footer-center nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-center nav a {
    font-size: 3vh;
    color: black;
    text-decoration: none;
    padding: 0 1.5vw;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

.footer-center nav a:hover {
    color: #000000;
    transform: scale(1.05);
}

.contact-info {
    text-align: right;
    color: white;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.contact-info p {
    margin: 0;
    font-size: 2.5vh;
}
