header {
    position: relative;
    background-color: #585858;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    opacity: 1;
}

.header-left {
    display: flex;
    align-items: start;
}

.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    flex-direction: column;
    margin: 0 1%;
}

.header-left p {
    color: #4A3E3E;
}

.header-center nav,
.header-right nav {
    display: flex;
}

.header-center nav a {
    font-size: 3vh;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 1.5vw;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}


.header-center nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: #4A3E3E;
    transition: width 0.3s;
}

.header-center nav a:hover {
    color: #000000;
    transform: scale(1.05);
}

.header-center nav a:hover::after {
    width: 100%;
}

.logo-header {
    position: static;
    text-align: right;
    padding-left: 10%;
}

.logo-header img {
    height: 7vh;
    max-width: 100vh;
}

