.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1%;
    background-color: rgba(248, 248, 248, 0);
    position: sticky;
}

.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar-logo{
    
}

.navbar-logo img {     /* Задаёт ширину изображения */
    height: auto;        /* Высота будет подстраиваться пропорционально */
    display: block;      /* Превращает <img> в блочный элемент для работы с margin */
    margin: 0 auto;      /* Центрирует изображение по горизонтали */
    object-fit: contain;
    margin-left: auto/* Изображение полностью вписывается в контейнер без потери пропорций */
}

.navbar-button {
    text-align: center;
    text-decoration: none;
    padding: 0.8em 3.8em;
    width: 13em;
    height: 3em;
    margin: 0 3%;
    background-color: #fdb10c;
    color: #fff;
    border: none;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5em;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.navbar-button:hover {
    background-color: #ffffff;
    color: #000;
    box-shadow: 10px 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.navbar-button:active {
    transform: scale(0.95);
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.2);
}




