.navbar {
    display: flex;
    justify-content: center; /* Выравнивание по центру родительского контейнера */
    align-items: center;
    padding: 0.5% 1%;
    background-color: rgba(248, 248, 248, 0);
    position: relative;
    top: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* Распределяет дочерние элементы по краям */
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1; /* Заставляет список занимать всё доступное пространство */
    justify-content: space-evenly; /* Равномерное распределение ссылок */
}

.navbar-list li {
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-left: auto; /* Смещает логотип вправо */
    width: 15vw;
}

.navbar-logo img {
    max-width: 15vw; /* Можно настроить нужный размер логотипа */
    height: auto;
    display: block;
    object-fit: contain;
}

.navbar-button {
    text-align: center;
    text-decoration: none;
    padding: 0.8em 3.8em;
    width: 13em;
    height: 3em;
    margin: 0 3%;
    background-color: #fdb10c;
    color: #fff;
    border: none;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5em;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.navbar-button:hover {
    background-color: #ffffff;
    color: #000;
    box-shadow: 10px 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.navbar-button:active {
    transform: scale(0.95);
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.2);
}
