.next-block {
    background-image: url('C:/Users/mpors/Desktop/Siteroad/roadsite/public/photo/atlas glass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 158vh; /* Задает высоту блока равной высоте окна */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
}
