body {
    background-image: url("backgroundPhoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contacts{
    height: 73vh;
}

h1 {
    font-size: 3rem;
    margin-left: 0.8rem;
    color: white;
}

.cur {
    font-size: 2rem;
    font-style: italic;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.list {
    margin-left: 2rem;
    list-style: none;
}